<div id="color-c" class="color-c">
    <div class="view-letters">
        <div>
            <h1>Vista C</h1>  
        </div>
        <span class="num" id="num"></span>
        <br>
        <div>
            <button class="btn btn" id="swap">Swap</button>
        </div>
        <br>
        <div>
            <button class="btn btn-reset" id="reset">Reiniciar</button>
        </div>   
        <br>
        <div>
            <button class="btn btn-next" id="next">Siguiente</button>
        </div>   
    </div>
</div>